/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

h1, h2{
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    
    color: #fff;
}

p{
    font-family: Inconsolata, Courier, sans-serif;
    
    color: #fff;
}

body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.descriptive-profile__photo{
    flex: 2 auto;
}

.descriptive-profile__text{
    flex: 1 auto;
}

.descriptive-profile__text h1, .descriptive-profile__text p{
    color: #000;
    text-align: center;
}

.descriptive-profile__photo img{
    max-height: 500px;
}

.profile-container {
    background-color: #fff;
    float: left;
    width: 30%;
    padding: 10px;
    
    display: flex;
    flex-flow: row;
}

.inferential-profile{
    float: left;
    
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.descriptive-profile{
    float: left;
    max-width: 185px;
}

.text-container {
    -webkit-display: flex;
    display: flex;
    
    flex-flow: column;
    align-content: center;
    justify-content: center;
}

.text-container > * {
    margin: 0 auto;
}

.hover-def {
    color: navy;
}

.flex-container{
    -webkit-display: flex;
    display: flex;
    flex-flow: row wrap;
    
    height: 96%;
    width: 96%;
    margin: 0 auto;
}

.flex-container h1{
    flex: 1 100%;
}

#qs-definition{
    flex-flow: row wrap;
}

.qs-definition__icon {
    max-height: 250px;
    flex: 1 auto;
}

.qs-definition__text{
    max-width: 600px;
}

#example-questions-slide .example-graph{
    flex: 1 auto;
}

#example-questions-slide {
    justify-content: space-between;
}

.example-graph {
    background-color: #fff;
    max-width: 400px;
    max-height: 400px;
}

.mousemove-card {
    background-color: #fff;
    max-width: 400px;
    width: 400px;
    max-height: 400px;
    height: 400px;
    margin: 0 auto;
}

.example-graph__chart{
    margin: 0 auto;
}

.example-graph p{
    padding: 10px;
    color: #000;
    text-align: center;
}

#personal-data-container{
    justify-content: space-between;
}

.house-icon {
    float: left;
}

#msg {
color:#000;
font-size: 30px;
}

#title {
    background: url(assets/img/background-img/iphone-hand.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.tint {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    
    min-height: 100%;
    min-width: 100%;
    
    background-color: rgba(0,0,0,0.4);
}

#title-header {
    font-size: 3.5em;
}

#title-subhead {
    font-family: Inconsolata, monospace;
}

.increased-linespace {
    line-height: 150%;
}

.card-style {
    background-color: #fff;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.6);
}

.misconception-card{
    max-height: 90%;
    max-width: 400px;
    overflow: hidden;
}



.misconception-card__text{
    color: #000;
    text-align: center;
    
    padding-top: 25px;
}

.community-card__text{
    color: #000;
    text-align: center;
    padding: 25px;
}

#misconceptions-slide {
    justify-content: space-between;
}

#future-qs-slide {
    background: url(/assets/img/background-img/grandcentral.jpg) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
}

#question1, #question2 {
    height: 300px;
    width: 350px;
}

#question3 img {
    max-height: 300px;
    max-width: 350px;
}

#mapviz-text {
    color: #000;
}

.inline{
    display:inline;
}

#mouse_x{
    margin: 10px;
    padding: 10px;
    font-size: 5em;
    color: black;
    text-align: center;
    padding-top: 15%;
}

#cardtitle {
    color:dimgray;
    text-align: center;
    padding-top: 15%;
    font-size: 2em;
    
}
#mouse_y{
    margin: 10px;
    padding: 10px;
    font-size: 5em;
    color: black;
    text-align: center;
    padding-top: 15%;
}

#mouse_moves {
    
    margin: 10px;
    padding: 10px;
    font-size: 5em;
    color: black;
    text-align: center;
    padding-top: 15%;
}

.inferential-profile__graph {
    max-height: 200px;
    max-width: 200px;
}

.highcharts-container{
    width:100% !important;
    height:100% !important;
}

#mapviz{
    justify-content: center;
}

.misconception-card__img {
    overflow: hidden;
    height: 500px;
}


.community-info-card{
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    margin-bottom: 5%;
}

.community-info-card__content p{
    color: #000;
    font-size: 1.5em;
}
