/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.descriptive-profile__photo{
    flex: 2 auto;
}

.descriptive-profile__text{
    flex: 1 auto;
}

.descriptive-profile__photo img{
    max-height: 500px;
}

.profile-container {
    float: left;
    max-width: 30%;
    
    display: flex;
    flex-flow: row;
}

.inferential-profile{
    float: left;
    
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.descriptive-profile{
    float: left;
}

.text-container {
    -webkit-display: flex;
    display: flex;
    
    flex-flow: column;
    align-content: center;
    justify-content: center;
}

.text-container > * {
    margin: 0 auto;
}

.hover-def {
    color: navy;
}

.flex-container{
    -webkit-display: flex;
    display: flex;
    flex-flow: row wrap;
    
    height: 96%;
    width: 96%;
    margin: 0 auto;
}

.flex-container h1{
    flex: 1 100%;
}

#qs-bridge-slide .text-container{
    flex: 2 auto;
}

#example-questions-slide .example-graph{
    flex: 3 auto;
}

#personal-data-container{
    justify-content: space-between;
}

.house-icon {
    float: left;
}
